# ipinfo.io API token
IP_INFO_TOKEN=token_goes_here

# Encryption key
ENCRYPTION_KEY=32_character_key

# DB configuration
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_HOST=
DB_PORT=

#REDIS configuration
REDIS_URL="redis://localhost:6379"

#Mailer configuration
MAILER_HOST=
MAILER_PORT=
MAILER_USERNAME=
MAILER_PASSWORD=

# JWT configuration
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRATION_IN_MINUTES=15